{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Blog</h1>

    {% if posts %}

    <dl>
        {% for post in posts %}

        <dt>
            {{ post['title']}}
        </dt>
        <dd>
            {{ post['description']}}

            [
            <a href="/read.html?id={{ post['id'] }}">read</a>,
            <a href="/update.html?id={{ post['id'] }}">edit</a>,
            <a href="/delete.html?id={{ post['id'] }}">delete</a>
            ]

        </dt>

        {% endfor %}
    </dl>
    {% endif %}

    <p><a href="/create.html">Create</a> a blog entry</p>
</div>
{% endblock %}