{% extends "base.html" %}

{% set title = "Login" %}

{% block content %}
<div>
    <h1>Change Password</h1>

    <form action="/auth/change-password" method="POST">
    
        Username:<br>
        <input type="text" name="username" value="{{ username }}" readonly><br>
    
        Old Password:<br>
        <input type="password" name="old_password"><br>
    
        New Password:<br>
        <input type="password" name="new_password"><br>

        <br>
        <input type="submit" value="Change">

    </form>

</div>
{% endblock %}
